.tab-content {
    
}

.tabs {
    display: flex;
    flex-direction: column;
}


@media (min-width: 451px) {
    .tabs {
        max-width: 1200px;
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
    }
}