.tab-content {
}

.tabs {
    display: flex;
    flex-direction: column;
    &__list {
      display: flex;
      justify-content: center;
    }
}

  
  .tab-content {
    width: 100%;
    transition: opacity 0.3s ease;
    height: auto; 
    &-wrapper {
      position: relative;
      width: 100%; 
      height: auto;   
    }
  }
  
  // Animation d'entrée
  .slide-enter {
    transform: translateX(-100%);
    &-active {
      transform: translateX(0);
      transition: transform 400ms ease-out;
    }
  }
  
  // Animation de sortie
  .slide-exit {
    position: absolute;
    top: 0;
    transform: translateX(0);
    &-active {
      transform: translateX(100%);
      transition: transform 300ms ease-in;
    }
  }


@media (min-width: 451px) {
    .tabs {
        max-width: 1200px;
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        width: 90%;
        padding-bottom: 20px;
    }
    
}