@import '../../styles/keyframes';

.search-bar {
    background-color: rgb(192, 192, 192);
    color: white;
    border: none;
    display: flex;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
    animation: card-slide 1500ms forwards;
    &__input {
        background-color: rgb(192, 192, 192);
        border: none;
        width: 90%;
        padding: 5px;
        &::placeholder {
            color: white;
        }
    }
    &__logo {
        padding: 5px;
        width: 5%;
    }
}