.header {


    &__title {
        font-family: sans-serif;
        font-size: 62px;
        margin-bottom: 0px;
    }
    &__logo {
        opacity: 0.1;
        width: 60%;
        position: absolute;
        transform: translateY(-200px) translateX(250px);
        
    }
}